
.DS_Store
.vscode/
*.lck
*gerber.zip
1_Hardware/PCB/source files/KiCAD/OSAMD-ESP8266/OSAMD-ESP8266-backups/
1_Hardware/PCB/source files/KiCAD/OSAMD-ESP8266/OSAMD-ESP8266-gerber/
1_Hardware/PCB/source files/KiCAD/OSAMD/OSAMD-backups/
2_Software/.DS_Store
2_Software/Arduino/.DS_Store
2_Software/Arduino/main/.theia
nppBackup/
